@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
*{
  background-color: black;
}
body{
  margin: 0px;
font-family: 'Josefin Sans', sans-serif;  font-weight: 100;
}
div{
  width: 50%;
  float: left
}
img{
  max-width: 100%;
  margin-top: 4px;
  opacity: .4;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a{
  text-decoration: none;
  color:white;
  background-color: black;
  font-size: 175%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a:hover{
  color: pink;
  text-decoration: underline;
}
.homelink{
  padding-left: 3%;
  /* position: fixed; */
}
#column-1 img:hover{
  opacity: 1;
}
#column-2 img:hover{
  opacity: 1;
}
.homelink{
  padding-right: 3%;
}
.melink{
  padding-right: 3%;
}
.weblink{
  padding-right: 3%;
}

